.gradle
.idea
build
classes
schema
out
*.iml
javadocs/
adapter.log
file-cache/
generated-sources/
application-*.yml
application-*.properties
/bin/
/.classpath
/.project
/.settings/
/.vscode/
trustStore
cert
internal-files/
